$theme-primary-color: #ff1818;

$themes: (
    dark-theme: (
        'text-color': white,
        'bg-color': #424242
    ),
    light-theme: (
        'text-color': black,
        'bg-color': #f5f5f5
    )
);
